.sidebar {
    margin: 0vw;
    padding: 0vw;
    box-sizing: border-box;
    width: 18vw;
    height: 100vh;
    /*background-color: #2e4c5c; */
    background-color: #000;
    position: fixed;
    color: #fff;
    font-size:1.3vw;
    z-index: 99999999999;
}

.nonHome {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.sidebar a {
    display: block;
    color: #fff;
    padding-left: 2vw;
    text-decoration: none;
    height: 10vh;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    font-size: 1.3vw;
    text-justify: end;
    text-align: start;
    text-justify: center;
    border-bottom: .14vh solid rgb(255, 255, 255);
    border-right: .14vh solid rgb(255, 255, 255);
    white-space: pre-line;
    line-height: 10vh;
}

.sidebar a:hover:not(.active) {
    background-color: white;
    color: black;
    border-bottom: .14vh solid #555;
    border-right: .14vh solid #555;
}

.content {
    margin-left: 5vw;
    height: 100vh;
}

.homeBox{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.cityscape {
    background-image: url('/Fractal.jpg');
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.background {
    width: 100%;
    height: 100%;
}

.message {
    position: absolute;
    left: 50%;
    top: 50%;
    /*color: #00008B; */
    color: #000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999999999;
    width: 100vw;
    overflow-x: hidden;
  }

  .header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
   }

.bigListItemFull{
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 3vw;
    margin-left: 8vw;
}

.linkStyle{
    font-family: Lato;
    font-size: 1.2vw;
    line-height: 4vh;
    width: 40vw;
    height: 2vh;
}


.fullPage{
    width: 70vw;
    height: 100vh;
    text-align: center;
    line-height: 6vh;
    font-family: Lato;
    padding-left: 15vw;
  }

  .resumePage{
    width: 75vw;
    height: 98vh;
    text-align: center;
    line-height: 6vh;
    font-family: Lato;
    padding-left: 20.18vw;
    padding-top: 1.5vh;
  }

.philosophyHeader{
width: 60vw;
height: 10vh;
text-align: start;
padding-top: 3vh;
line-height: 4vh;
font-family: Lato;
font-size: 2.75vw;
text-emphasis: bold;
text-transform: uppercase;
margin-left: 15.65vw;
padding-bottom: 1vh;
}

.skillsHeader{
width: 60vw;
height: 10vh;
text-align: start;
line-height: 4vh;
font-family: Lato;
font-size: 2.75vw;
text-emphasis: bold;
text-transform: uppercase;
margin-left: 36.65vw;
padding-top: 6vh;
}

.pianoHeader{
    width: 60vw;
    height: 10vh;
    text-align: start;
    line-height: 4vh;
    font-family: Lato;
    font-size: 2.75vw;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 36.5vw;
    padding-top: 2.5vh;
    }

    .bookHeader{
        width: 60vw;
        height: 8vh;
        text-align: start;
        line-height: 4vh;
        font-family: Lato;
        font-size: 2.75vw;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 19vw;
        padding-top: 2.5vh;
        padding-bottom: 4vh;
        }

.mLskillsHeader{
    width: 60vw;
    height: 10vh;
    text-align: start;
    line-height: 4vh;
    font-family: Lato;
    font-size: 2.75vw;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 36.65vw;
    padding-top: 2vh;
    }

.employmentHeader{
    width: 60vw;
    height: 10vh;
    text-align: start;
    font-family: Lato;
    font-size: 2.75vw;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 33vw;
    padding-top: 3vh;
    padding-bottom: 2.9vh;
}

.mLemploymentHeader{
    width: 60vw;
    height: 10vh;
    text-align: start;
    font-family: Lato;
    font-size: 2.75vw;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 20vw;
    padding-top: 3vh;
    padding-bottom: 2.9vh;
}

.dataScienceHeader{
    width: 100vw;
    height: 10vh;
    text-align: start;
    font-family: Lato;
    font-size: 2.75vw;
    line-height: 4vh;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 7.15vw;
    padding-top: 3vh;
    padding-bottom: 1.6vh;
    }

    .creativeHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 17.1vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
        }

    .homeHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        display: flex;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 13.5vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
        }

    .slowHeader {
    animation: fadeIn 3s;
    }

    .fastHeader {
        animation: fadeIn 5s;
    }

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
          

.attorneyHeader{
    width: 100vw;
    height: 10vh;
    text-align: start;
    font-family: Lato;
    font-size: 2.75vw;
    line-height: 4vh;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 28.4vw;
    padding-top: 3vh;
    }

    .projectHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 10.6vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
    }

    .businessHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 26.85vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
    }

    .pricingHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 26.5vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
    }

    .isaeusHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 13.75vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
    }

    .ppHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 17.75vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
    }
    .votingHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 7vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
    }

    .smallProjectHeader{
        width: 100vw;
        height: 10vh;
        text-align: start;
        font-family: Lato;
        font-size: 2.75vw;
        line-height: 4vh;
        text-emphasis: bold;
        text-transform: uppercase;
        margin-left: 29vw;
        padding-top: 3vh;
        padding-bottom: 1.6vh;
    }

.bioBodyFull{
    width: 70vw;
    height: 790vh;
    text-align: center;
    padding-top: 6vh;
    line-height: 4vh;
    font-family: Lato;
    font-size: 7.5vh;
    text-emphasis: bold;
    text-transform: uppercase;
    }

.bioBody{
    width: 70vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.bioBodyVertical{
    width: 70vw;
    height: 58vh;
    display: block;
    justify-content: center;
    align-items: center;
    line-height: 4vh;
    font-family: Lato;
}

.listBioHeader{
    width: 70vw;
    height: 10vh;
    text-align: center;
    padding-top: 3vh;
    line-height: 2vh;
    font-family: Lato;
    font-size: 7.5vh;
    text-emphasis: bold;
    text-transform: uppercase;
    }

.listBioBody{
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .3vh;
    font-family: Lato;
}

.bioBodyHalfLeft{
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:7.5vh;
    justify-content: start;
    align-items: start;
    line-height: .3vh;
    padding-left: 8vw;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.bioBodyHalfLeftNew{
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: start;
    align-items: start;
    line-height: .3vh;
    padding-left: 8vw;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.bioBodyHalfLeftLaw{
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 6.25vh;
    justify-content: start;
    align-items: start;
    line-height: .3vh;
    padding-left: 8vw;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.bioBodyHalfRight{
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:7.5vh;
    justify-content: start;
    align-items: start;
    line-height: .3vh;
    font-family: Lato;
    margin-left: 28vw;
    font-size: 1.2vw;
}

.bioBodyHalfRightNew{
    width: 55vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: start;
    align-items: start;
    line-height: .3vh;
    font-family: Lato;
    margin-left: 24vw;
    font-size: 1.2vw;
}

.bioBodyHalfRightLaw{
    width: 55vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:6.25vh;
    justify-content: start;
    align-items: start;
    line-height: .3vh;
    font-family: Lato;
    margin-left: 24vw;
    font-size: 1.2vw;
}

.bioBodyFull{
    padding-top: 5vw;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:6vh;
    justify-content: start;
    align-items: center;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
}

.listElement{
    width: 5vw;
    height: 5vh;
    display: block;
    margin-left: -40vw;
    justify-content: left;
    align-items: left;
    line-height: 4vh;
    font-family: Lato;
    padding-left: 0vw;
}

.listElementFull{
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 4vh;
    font-family: Lato;
    padding-left: 0vw;
    word-wrap: break-word;
    white-space: wrap;
}


.bioBottomSpacing{
    width: 50vw;
    height: 50vh;
    }

.containerPage {
    width: 99vw;
    height: 100vh;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1vw;
    overflow-x: hidden;
}

.resumeContainer {
    width: 99vw;
    height: 100vh;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1vw;
    overflow-x: hidden;
}

.listHeader{
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4vh;
    font-family: Lato;
}

.bigListItemFull{
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 3vw;
    margin-left: 8vw;
}

.bigListItemFullLink{
    width: 70vw;
    height: 20vh;
    display: inline-block;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 3vw;
    margin-left: 8vw;
}

.bigListItemFullLinkFreelance{
    width: 70vw;
    height: 20vh;
    display: inline-block;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 5.5vw;
    margin-left: 8vw;
}

.bigListItemFullLinkPricing{
    width: 70vw;
    height: 20vh;
    display: inline-block;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 17.75vw;
    margin-left: 8vw;
}

.listItemFull{
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4vh;
    font-family: Lato;
    margin-left: 8vw;
}

.listItemFullNew{
    width: 67vw;
    height: 7.5vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 1.5vw;
    margin-left: 10vw;
}

.listItemFullFreelance{
    width: 67vw;
    height: 7.5vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 10vh;
    margin-left: 10vw;
}

.listItemFullPricing{
    width: 67vw;
    height: 7.5vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 4vh;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 10vh;
    margin-left: 31.5vw;
}

@font-face {
    font-family: 'Elixia';
    src: local('Elixia'), url(./fonts/Elixia/Elixia-Regular.ttf) format('truetype');
  }