.sidebar {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 18vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    color: #000000;
    font-size:1.3vw;
    z-index: 99999999999;
}

.sidebar a {
    display: block;
    color: black;
    padding-left: 2vw;
    text-decoration: none;
    height: 10vh;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    font-size: 1.3vw;
    text-justify: end;
    text-align: start;
    text-justify: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    white-space: pre-line;
    line-height: 10vh;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.content {
    margin-left: 200px;
    height: 100px;
}

.homeBox{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    line-height: 25px;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.cityscape {
    background-image: url('/Fractal.jpg');
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.background {
    width: 100%;
    height: 100%;
}

.message {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999999999;
    width: 100vw;
    overflow-x: hidden;
  }

  .header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
   }

.bigListItemFull{
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 25px;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 3vw;
    margin-left: 8vw;
}


.fullPage{
    width: 70vw;
    height: 100vh;
    text-align: center;
    line-height: 25px;
    font-family: Lato;
    padding-left: 15vw;
  }

.philosophyHeader{
width: 60vw;
height: 10vh;
text-align: start;
padding-top: 40px;
line-height: 25px;
font-family: Lato;
font-size: 2.75vw;
text-emphasis: bold;
text-transform: uppercase;
margin-left: 13.75vw;
}

.skillsHeader{
width: 60vw;
height: 10vh;
text-align: start;
line-height: 25px;
font-family: Lato;
font-size: 2.75vw;
text-emphasis: bold;
text-transform: uppercase;
margin-left: 36.65vw;
padding-top: 1vh;
}

.employmentHeader{
    width: 60vw;
    height: 10vh;
    text-align: start;
    font-family: Lato;
    font-size: 2.75vw;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 33vw;
    padding-top: 3vh;
}

.dataScienceHeader{
    width: 60vw;
    height: 10vh;
    text-align: start;
    font-family: Lato;
    font-size: 2.75vw;
    text-emphasis: bold;
    text-transform: uppercase;
    margin-left: 15.5vw;
    padding-top: 40px;
    }

.bioBodyFull{
    width: 70vw;
    height: 790vh;
    text-align: center;
    padding-top: 40px;
    line-height: 25px;
    font-family: Lato;
    font-size: 40px;
    text-emphasis: bold;
    text-transform: uppercase;
    }

.bioBody{
    width: 70vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    line-height: 25px;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.bioBodyVertical{
    width: 70vw;
    height: 58vh;
    display: block;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    font-family: Lato;
}

.listBioHeader{
    width: 70vw;
    height: 10vh;
    text-align: center;
    padding-top: 40px;
    line-height: 15px;
    font-family: Lato;
    font-size: 40px;
    text-emphasis: bold;
    text-transform: uppercase;
    }

.listBioBody{
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    font-family: Lato;
}

.bioBodyHalfLeft{
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: start;
    align-items: start;
    line-height: 5px;
    padding-left: 8vw;
    font-family: Lato;
    font-size: 1.2vw;
    margin-left: 8vw;
}

.bioBodyHalfRight{
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: start;
    align-items: start;
    line-height: 5px;
    font-family: Lato;
    margin-left: 28vw;
    font-size: 1.2vw;
}

.bioBodyFull{
    padding-top: 5vw;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: start;
    align-items: center;
    line-height: 5px;
    font-family: Lato;
    font-size: 1.2vw;
}

.listElement{
    width: 5vw;
    height: 5vh;
    display: block;
    margin-left: -40vw;
    justify-content: left;
    align-items: left;
    line-height: 5px;
    font-family: Lato;
    padding-left: 0px;
}

.listElementFull{
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 5px;
    font-family: Lato;
    padding-left: 0px;
    word-wrap: break-word;
    white-space: wrap;
}


.bioBottomSpacing{
    width: 50vw;
    height: 50vh;
    }

.containerPage {
    width: 99vw;
    height: 100vh;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1vw;
    overflow-x: hidden;
}

.listHeader{
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    font-family: Lato;
}

.bigListItemFull{
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 25px;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 3vw;
    margin-left: 8vw;
}

.listItemFull{
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    font-family: Lato;
    margin-left: 8vw;
}

.listItemFullNew{
    width: 67vw;
    height: 7.5vh;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    line-height: 25px;
    font-family: Lato;
    font-size: 1.2vw;
    margin-bottom: 1.5vw;
    margin-left: 10vw;
}

@font-face {
    font-family: 'Elixia';
    src: local('Elixia'), url(./fonts/Elixia/Elixia-Regular.ttf) format('truetype');
  }